---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=15000&currency=usd&destination=acct_1AUIf0LVHcdVuufE&metadata[description]=Coverage+payment
    headers:
      Authorization:
      - Bearer sk_test_goztKEW01xeVYCUDuoY70VSk
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2017-06-05'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_BOQmOXsAw2c6uD",
          "object": "transfer",
          "amount": 15000,
          "amount_reversed": 0,
          "balance_transaction": "txn_BOQm8EgpfE7YWV",
          "created": 1505320821,
          "currency": "usd",
          "description": null,
          "destination": "acct_1AUIf0LVHcdVuufE",
          "destination_payment": "py_1B1duTLVHcdVuufEzQsmPdmH",
          "livemode": false,
          "metadata": {
            "description": "Coverage payment"
          },
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_BOQmOXsAw2c6uD/reversals"
          },
          "reversed": false,
          "source_transaction": null,
          "source_type": "card",
          "transfer_group": null
        }
  recorded_at: Wed, 13 Sep 2017 16:40:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=15000&currency=usd&description=Coverage+payment&statement_descriptor=Watsi+Coverage+%23120
    headers:
      Authorization:
      - Bearer sk_test_goztKEW01xeVYCUDuoY70VSk
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2017-06-05'
      Stripe-Account:
      - acct_1AUIf0LVHcdVuufE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1AUIf0LVHcdVuufE
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "po_1B1duULVHcdVuufESz4XcZ5v",
          "object": "payout",
          "amount": 15000,
          "arrival_date": 1505320822,
          "balance_transaction": "txn_1B1duULVHcdVuufEqNaWqcuJ",
          "created": 1505320822,
          "currency": "usd",
          "description": "Coverage payment",
          "destination": "ba_1AUjqrLVHcdVuufEgx2y9uqf",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "source_type": "card",
          "statement_descriptor": "Watsi Coverage #120",
          "status": "pending",
          "type": "bank_account"
        }
  recorded_at: Wed, 13 Sep 2017 16:40:23 GMT
recorded_with: VCR 3.0.3
